:root {
  --primary-dark-blue: #13334c;
  --secondary-light-blue: #a1ccec;
  --background-white: #f6f6e9;
  --off-white: #f4f6ff;
  --highlight-orange: #fd5f00;

  --pure-black: #000000;
  --pure-white: #ffffff;
}
